<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Psychoiogist.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0FE6F0541C6F2BEB00CDF89C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FE6F0681C6F2BEB00CDF89C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FE6F0731C6F2BEB00CDF89C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
